<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/onecolor@4.1.0/one-color-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/colorjoe@4.2.0/dist/colorjoe.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/colorjoe@4.2.0/css/colorjoe.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm menu">
                    <p class="beauty-p">Js Editor</p>
                </div>
                <div class="col-sm menu">
                    <button onclick="location.href='/'">Главная</button>
                </div>
                <div class="col-sm menu">
                    <button onclick="location.href='/login'">Профиль</button>
                </div>
                <span class="flare"></span>
            </div>
        </div>
    </header>
    <main>
        <div class="container mainest-container">
            <div class="row panel">
                <div class="col-sm menu">
                    <button onclick="openFile(event);">Открыть</button>
                </div>
                <div class="col-sm menu">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        onclick="showModal(event);">
                        Новый
                    </button>
                </div>
                <div class="col-sm dropdown menu">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Сохранить
                    </button>
                    <div class="dropdown-menu drops" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" onclick="saveFile(event, 'png');">PNG</a>
                        <a class="dropdown-item" href="#" onclick="saveFile(event, 'jpeg');">JPEG</a>
                        <a class="dropdown-item" href="#" onclick="savePDF();">PDF</a>
                        <a class="dropdown-item" href="#" onclick="saveFile(event, 'server')">Здесь</a>
                    </div>
                </div>
                <div class="col-sm menu">
                    <button onclick="unDo(event);" style="height: 100%;"><i class="bi bi-arrow-90deg-left"></i></button>
                </div>
                <div class="col-sm menu">
                    <button onclick="reDo(event);" style="height: 100%;"><i
                            class="bi bi-arrow-90deg-right"></i></button>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-sm tools">
                    <button class="row" id="pen" onclick="startDraw(event);"><i class="bi bi-pencil"></i></button>
                    <button class="row" id="square" onclick="drawSquare(event);"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-0-square" viewBox="0 0 16 16">
                            <path
                                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                        </svg></button>
                    <button class="row" id="circle" onclick="drawEllips(event);"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-0-circle" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8" />
                        </svg></button>
                    <button class="row" id="line" onclick="drawLine(event);"><i class="bi bi-slash-lg"></i></button>
                    <button class="row" id="pipette" onclick="startCheckColor(event);"><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 325 325" width="16" height="16" xml:space="preserve">
                            <g>
                                <path d="M23.177,244.78c-0.693,0.692-1.206,1.544-1.493,2.48L0.264,317.006c-0.652,2.124-0.078,4.434,1.494,6.005
                                  c1.142,1.142,2.675,1.757,4.243,1.757c0.588,0,1.182-0.087,1.762-0.265l69.742-21.426c0.937-0.287,1.788-0.8,2.48-1.493
                                  l111.752-111.751l-56.807-56.808L23.177,244.78z" fill="#000000"
                                    style="fill: rgb(255, 255, 255);" />
                                <path
                                    d="M312.724,16.641l-4.15-4.151c-16.344-16.344-42.938-16.343-59.279,0.001l-76.068,76.068l-5.738-5.737
                                  c-3.779-3.778-8.806-5.86-14.153-5.861c-0.002,0-0.004,0-0.006,0c-5.351,0-10.378,2.082-14.16,5.866l-1.618,1.621
                                  c-3.781,3.78-5.864,8.81-5.864,14.159c-0.001,5.351,2.082,10.379,5.863,14.159l74.903,74.902c3.78,3.781,8.809,5.864,14.159,5.864
                                  c5.35,0,10.378-2.083,14.16-5.865l1.62-1.621c7.806-7.812,7.805-20.516,0-28.318l-5.733-5.736l76.069-76.066
                                  c0.053-0.053,0.105-0.107,0.154-0.16c7.817-7.897,12.119-18.358,12.118-29.483C325,35.082,320.64,24.555,312.724,16.641z"
                                    fill="#000000" style="fill: rgb(255, 255, 255);" />
                            </g>
                        </svg></button>
                    <button class="row" id="fill" onclick="startCover(event);"><i
                            class="bi bi-paint-bucket"></i></button>
                </div>
                <div class="col-sm img-place">
                    <div class="img" id="imgPanel">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
                <div class="col-sm advanced-tools">
                    <div class="row">
                        <div>
                            <div>
                                <div id="rgbPicker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Размер кисти</p>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="range" class="form-range" id="width-picker" value="1"
                                onchange="setNewSize(event, this.value);">
                        </div>
                        <div class="col-sm width-div">
                            <input type="number" id="width-text" class="form-control" value="1"
                                onchange="setNewSize(event, this.value);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" onchange="setFill(event);"
                                id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Заливка
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <p>Кисть</p>
                    </div>
                    <div class="row">
                        <div class="col-sm brushes" id="brushList">
                        </div>
                    </div>
                    <div class="row">
                        <p>Трансформации</p>
                    </div>
                    <div class="row">
                        <button onclick="mirrorY(event);">ОтразитьY</button>
                    </div>
                    <div class="row">
                        <button onclick="mirrorX(event);">ОтразитьX</button>
                    </div>
                    <div class="row">
                        <button onclick="rotateLeft(event);">Повернуть влево</button>
                    </div>
                    <div class="row">
                        <button onclick="rotateRight(event);">Повернуть вправо</button>
                    </div>
                    <div class="row">
                        <p>Эффекты</p>
                    </div>
                    <div class="row brushes">
                        <div class="col-sm">
                            <div class="row">
                                <button onclick="gray(event);">Серый</a>
                            </div>
                            <div class="row">
                                <button onclick="noise(event);">Шум</a>
                            </div>
                            <div class="row">
                                <button class="col-sm" onclick="glitch(event);">Глитч</button>
                                <input type="number" class="col-sm form-control" id="glitch-param" value="10" min="5"
                                    max="20" step="1" />
                            </div>
                            <div class="row">
                                <button class="col-sm" onclick="bright(event);">Яркость</button>
                                <input type="number" class="col-sm form-control" id="bright-param" value="1" min="0"
                                    max="2" step="0.1" />
                            </div>
                            <div class="row">
                                <button class="col-sm" onclick="contrast(event);">Контраст</button>
                                <input type="number" class="col-sm form-control" id="contrast-param" value="0" min="-20"
                                    max="20" step="1" />
                            </div>
                            <div class="row">
                                <button class="col-sm" onclick="saturation(event);">Насыщенность</button>
                                <input type="number" class="col-sm form-control" id="saturation-param" value="0"
                                    min="-20" max="20" step="1" />
                            </div>
                            <div class="row">
                                <button onclick="sepia(event);">Сепия</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row canvas-tools">
                <p class="col-sm">Размер холста:</p>
                <input type="range" class="col-sm form-range" id="size-picker" value="100" min="20" max="200" step="10"
                    onchange="resizeCanvas(event, this.value);">
                <input type="number" id="size-text" class="col-sm form-control" value="100" min="20" max="200" step="10"
                    onchange="resizeCanvas(event, this.value);" />
            </div>
        </div>
    </main>
    <footer>
        <p>2025</p>
    </footer>

    <div class="modal fade" id="newFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Установить размер файла</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <input class="form-control dialog-input" id="width" placeholder="Ширина" />
                    </div>
                    <div class="row">
                        <input class="form-control dialog-input" id="height" placeholder="Высота" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="createFile();">Создать</button>
                    <button type="button" data-bs-dismiss="modal" id="close-btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Сохранять здесь могут только зарегистрированные
                        пользователи.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" id="close-btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        function getCookie(name) {
            const fullCookieString = '; ' + document.cookie;
            const splitCookie = fullCookieString.split('; ' + name + '=');
            return splitCookie.length === 2 ? splitCookie.pop().split(';').shift() : null;
        }

        const { jsPDF } = window.jspdf;
        window.savePDF = function () {
            var imgHere = getCookie("imgHere");
            if (imgHere) {
                const pdf = new jsPDF();
                var canvas = document.getElementById("canvas");
                pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0);
                pdf.save('image.pdf');
            }
        }
    </script>
    <script src="../public/js/params.js"></script>
    <script src="../public/js/objects.js"></script>
    <script src="../public/js/effectsObjects.js"></script>
    <script src="../public/js/brushes.js"></script>
    <script src="../public/js/unredo.js"></script>
    <script src="../public/js/effects.js"></script>
    <script src="../public/js/transforms.js"></script>
    <script src="../public/js/files.js"></script>
    <script src="../public/js/start.js"></script>
    <script src="../public/js/penprefs.js"></script>
    <script src="../public/js/drawing.js"></script>
    <script src="../public/js/dfs.js"></script>
</body>