:root {
    --primary-color: #2b68a1;
    --secondary-color: #2d3440;
    --key-color: #494e63;
    --shadow-color: #2885db49;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-container {
    background-color: var(--secondary-color);
    padding: 2vh 4vw;
}

.profile-title {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.profile-btn {
    text-align: center;
}

.profile-btn:hover {
    background-color: var(--secondary-color);
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
    height: 100%;
}

.profile-menu {
    padding: 0;
    margin: 0;
}

.main-profile-menu {
    margin-bottom: 1vh;
    background-color: var(--primary-color);
    height: 8vh;
    align-items: center;
    padding: 0;
}

.photo {
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: unset;
    text-align: center;
    align-content: center;
    width: 20%;
    max-width: 20%;
    padding: 1vh 1vw;
}

.photo-frame {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px 0 10px 10px;
}

.photo-frame img {
    border-radius: 10px;
    margin: 0;
    transition: transform 1s ease;
}

.photo-frame img:hover {
    box-shadow: 0px 0px 30px 10px var(--shadow-color);
    transform: scale(1.25);
}

form {
    margin: 0;
    padding: 0;
    text-align: end;
}

.delete-btn {
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    width: 20%;
    border: none;
    outline: none;
    color: white;
}