:root {
    --primary-color: #2b68a1;
    --secondary-color: #2d3440;
    --key-color: #494e63;
    --shadow-color: #2885db49;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    height: 4vh;
    color: white;
    position: unset;
}

.profile-container {
    background-color: var(--secondary-color);
    padding: 2vh 4vw;
    min-height: 87vh;
    text-align: center;
}

.profile-title {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.profile-btn {
    text-align: center;
}

.profile-menu {
    padding: 0;
    margin: 0;
}

.main-profile-menu {
    margin-bottom: 1vh;
    background-color: var(--primary-color);
    height: 8vh;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.main-profile-menu p {
    background-color: transparent;
}

.photo {
    text-align: center;
    align-content: center;
    width: fit-content;
    max-width: 20vw;
    margin: 1vh 1vw;
}

.photo-frame {
    background-color: var(--primary-color);
    padding: 10px;
    width: fit-content;
    border-radius: 10px 0 10px 10px;
}

.photo-frame img {
    margin: 0;
    transition: transform 1s ease;
    max-height: 30vh;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.photo-frame img:hover {
    transform: scale(1.25);
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    margin: 0;
    padding: 0;
    text-align: end;
}

.delete-btn {
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 3vw;
    border: none;
    outline: none;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}