:root {
    --primary-color: #2b68a1;
    --secondary-color: #2d3440;
    --key-color: #494e63;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}

body {
    background-color: var(--key-color);
    overflow-y: hidden;
    overflow-x: hidden;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
    color: white;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1vh;
    position: relative;
    overflow-x: hidden;
}

header p {
    margin: 0;
}

header .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5vw;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
}

header:hover {
    .flare {
        animation: flareAnimation 3s infinite linear;
    }
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

main p {
    background-color: var(--primary-color);
    margin: 0;
    color: white;
}

main button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    margin: 0;
    color: white;
    text-align: left;
}

.beauty-p {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

@keyframes rotateAnimation {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(-45deg);
    }

    100% {
        transform: skewX(45deg);
    }
}

.menu {
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: content;
    align-content: center;
}

.menu button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.mainest-container {
    background-color: var(--secondary-color);
    height: 100%;
}

.tools {
    background-color: var(--secondary-color);
    max-width: 100px;
    min-width: 100px;
    overflow-y: scroll;
    padding: 0;
}

.tools button {
    margin: 0;
}

.img {
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    background-color: var(--key-color);
}

.img-place {
    align-content: center;
    text-align: center;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.panel {
    background-color: var(--secondary-color);
}

.panel button {
    padding: 1vh 1vw;
    margin: 0;
    border-radius: 0;
    color: white;
}

.panel div {
    margin: 0;
    padding: 0;
}

.advanced-tools {
    background-color: var(--secondary-color);
    max-width: 300px;
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.advanced-tools label {
    color: white;
    width: 100%;
}

.form-check {
    margin-top: 1vh;
    margin-left: 1vw;
}

.main-row {
    height: 75vh;
}

.brushes {
    height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fill-div {
    align-content: center;
    padding: 0;
}

.fill-box {
    max-width: 10%;
}

.fill-div p {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.canvas-tools {
    background-color: var(--secondary-color);
    padding-right: 1vw;
    height: 10vh;
    padding-bottom: 1vh;
    align-items: center;
}

.canvas-tools p {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    text-align: end;
}

button:hover {
    background-color: var(--primary-color);
}

.drops {
    border-radius: 0px;
    background-color: var(--secondary-color);
}

.drops a {
    color: white;
}

.drops a:hover {
    background-color: var(--primary-color);
    color: white;
}

.advanced-tools p {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.form-control {
    width: 5vw;
    height: 4vh;
    flex-grow: unset;
    flex-shrink: unset;
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.form-range {
    width: 10vw;
    flex-grow: unset;
    flex-shrink: unset;
    border-radius: 0;
    padding-right: 1vw;
}

.form-range::-webkit-slider-thumb,
.form-range::-moz-range-thumb,
.form-range::-ms-thumb,
-webkit-slider-thumb:active,
-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: var(--primary-color)
}

.color-picker-div {
    width: unset;
    text-align: center;
    align-items: center;
}

#color-picker-text {
    width: 100%;
}

#colorpicker-color div {
    width: 5vw;
}

.form-check-input:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.tools button {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.dialog-input {
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    padding: 2vh 1vw;
    outline-style: solid;
    outline-color: var(--secondary-color);
    outline-width: 1px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
}

.dialog-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.dialog-input:focus,
.dialog-input:active {
    background-color: var(--secondary-color);
    color: white;
    padding: 3vh 1vw;
}

.modal-content {
    background-color: var(--key-color);
    color: white;
}

.modal-header,
.modal-footer {
    border-color: var(--secondary-color);
}

.modal-footer button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    padding: 1vh 1vw;
    outline-width: 3px;
    outline-color: var(--secondary-color);
    outline-style: solid;
    transition: transform 1s ease;
}

#close-btn {
    background-color: var(--key-color);
}

.modal-footer button:hover {
    transform: scale(1.25);
}

.selected-btns {
    background-color: var(--primary-color);
}

.colorPicker {
    background: none;
    border: none;
    margin: 0;
    width: 100%;
}

.colorPicker .twod .bg1,
.colorPicker .twod .bg2 {
    width: 100%;
    height: 100%;
}

.colorPicker .oned {
    margin: 0;
    padding: 0;
    width: 10%;
}

.colorPicker .extras {
    float: unset;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 0px;
}

.colorPicker .extras .currentColorContainer {
    overflow: auto;
}

.colorPicker .extras .colorFields input {
    width: 100%;
    margin-left: 0;
}

.color label {
    width: 100%;
    text-align: start;
}

.hex {
    width: 100%;
}

.colorPicker .extras .hex input {
    width: 100%;
}

.colorPicker .extras .currentColor {
    float: unset;
}

.colorPicker .extras .currentColorContainer {
    overflow: auto;
    width: 100%;
    text-align: center;
}