footer {
    background-color: #FFC8A8;
}

header {
    background-color: #FFC8A8;
    color: white;
}

.tools {
    background-color: aqua;
    max-width: 100px;
    min-width: 100px;
}

.img {
    background-color: palevioletred;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.panel {
    background-color: cadetblue;
}

.advanced-tools {
    background-color: brown;
    max-width: 300px;
    min-width: 300px;
    height: 85vh;
    overflow-y: scroll;
}

.brushes {
    height: 20vh;
    overflow-y: scroll;
}

.width-div {
    max-width: 30%;
}

.fill-div {
    max-width: 10%;
}

.canvas-tools {
    background-color: darkgoldenrod;
}