footer {
    background-color: #FFC8A8;
}

header {
    background-color: #FFC8A8;
    color: white;
}

.tools {
    background-color: aqua;
    max-width: 100px;
    min-width: 100px;
}

.img {
    background-color: palevioletred;
    text-align: center;
    height: 85vh;
}

.img>img {
    height: 100%;
    width: auto;
}

.panel {
    background-color: cadetblue;
}

.advanced-tools {
    background-color: brown;
    max-width: 200px;
    min-width: 200px;
}

#canvas {
    height: 100%;
    width: auto;
}